.milkdown {
  padding: 0 !important;
}

.ProseMirror {
  padding: 40px;
}

th,
td {
  border: 1px solid #ccc;
}

.milkdown-grid-table-block {
  display: block;
}

.milkdown-grid-table-block table {
  margin: 0 !important;
}

.milkdown-grid-table-block .handle {
  position: absolute;
  z-index: 50;
  cursor: grab;
  font-size: 14px;
}

.milkdown-grid-table-block .cell-handle {
  left: -999px;
  top: -999px;
  z-index: 100;
  height: 24px;
  transition: opacity 0.2s ease 0.2s;
  background-color: #ffb4ab;
  padding: 0 8px;
  border-radius: 8px;
  position: absolute;
}

.milkdown-grid-table-block .cell-handle[data-role='col-drag-handle'] {
  transform: translateY(50%);
}

.milkdown-grid-table-block .cell-handle[data-role='row-drag-handle'] {
  transform: translateX(50%);
}

.milkdown-grid-table-block .cell-handle[data-role='cell-handle'] {
  transform: translate(-50%, -100%);
}

.milkdown-grid-table-block .cell-handle[data-show='false'] {
  opacity: 0;
}

.milkdown-grid-table-block .line-handle[data-show='false'] {
  opacity: 0;
}

.milkdown-grid-table-block .handle:hover {
  opacity: 1;
}

.milkdown-grid-table-block .cell-handle .button-group {
  position: absolute;
  height: 30px;
  top: -32px;
  display: flex;
  transform: translateX(-50%);
  left: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  gap: 4px;
  padding: 2px;
}

.milkdown-grid-table-block .cell-handle .button-group[data-show='false'] {
  display: none;
}

.milkdown-grid-table-block .cell-handle .button-group button {
  padding-left: 8px;
  padding-right: 8px;
  width: max-content;
}

.milkdown-grid-table-block .cell-handle .button-group button:hover {
  background-color: #f0f0f0;
}

.milkdown-grid-table-block .line-handle {
  background-color: #ffb4ab;
  transition: opacity 0.2s ease-in-out;
}

.milkdown-grid-table-block .line-handle[data-role='x-line-drag-handle'] {
  height: 2px;
}

.milkdown-grid-table-block .line-handle[data-role='y-line-drag-handle'] {
  width: 2px;
}

.milkdown-grid-table-block .line-handle .add-button {
  color: #ffb4ab;
  border: 1px solid #ffb4ab;
  padding: 0 4px;
  border-radius: 8px;
  width: max-content;
}

.milkdown-grid-table-block .line-handle[data-role='x-line-drag-handle'] .add-button {
  position: absolute;
  transform: translateX(-100%);
  top: -12px;
  height: 24px;
}

.milkdown-grid-table-block .line-handle[data-role='y-line-drag-handle'] .add-button {
  position: absolute;
  transform: translateX(-50%);
  top: -24px;
  height: 24px;
}

.milkdown-grid-table-block .line-handle[data-display-type='indicator'] .add-button {
  display: none;
}
